{% extends "main/layout.html" %}
{% load static %}
{% load i18n %}
{% block title %} Профиль {% endblock %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="{%  static 'user/css/profile.css' %}">

  <div class="main-content">
    <!-- Top navbar -->
    <!-- Header -->
    <div class="headers pb-8 pt-5 pt-lg-8 align-items-center" style="left: 0px;min-height: 600px; background-image: url({% static 'user/img/profile-cover.jpg' %}); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10" style="top: 85px;">
            <h1 class="display-2 text-white">Привет, {{ user.username }}!</h1>
            <p class="text-white mt-0 mb-5">Это страница вашего профиля на нашем сайте.</p>
            <a href="{% url 'profile_edit' user.id %}" class="btn btn-info">Редактировать профиль</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                    <img src="{{ user.profile.get_avatar }}" class="rounded-circle">
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-center" style="margin-top: 9vw; margin-bottom: -7vw;">
                <a href="#" class="btn btn-alert" style="background-color: #00E1FF;">Написать сообщение</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">12</span>
                      <span class="description">Созданных статей</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Фоток</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Написанных комментариев</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{ user.first_name }} {{ user.last_name }}<span class="font-weight-light">, 27</span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{ profile.address }}, {{ profile.number }}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Контактная информация
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>Номер телефона: {{ profile.phone }}
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>Email: {{ user.email }}
                </div>
                <hr class="my-4">
                <h4>Цитата дня:</h4>
                <p><b>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</b></p>
                <a href="{% url 'profile_edit' user.id %}" class="btn btn-info">Редактировать профиль</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Мой аккаунт</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#" class="btn btn-sm btn-primary">Настройки</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">Информация пользователя</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Имя пользователя</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Имя пользователя" value="{{ user.username }}" readonly>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-email">Email адрес</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="example@company.com" value="{{ user.email }}" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Имя</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="Имя" value="{{ user.first_name }}" readonly>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Фамилия</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Фамилия" value="{{ user.last_name }}" readonly>
                      </div>
                    </div>
                  </div>

                        <div class="row align-items-center">
                            <div class="col-md-6 mb-3 focused">
                                <label for="birthday">День рождения</label>
                                <div class="input-group">
                                    <input type="text" id="birthday" class="form-control" placeholder="День рождения" value="{{ profile.birthday }}" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3 focused">
                                <label for="gender">Ваш пол</label>
                                <select name="gender" class="form-select mb-0" id="gender"
                                        aria-label="Gender select example">
                                    <option selected>Gender</option>
                                    {% for key, value in profile.GENDER_CHOICES %}
                                        <option value="{{ key }}"
                                                {% if profile.gender == key %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Контактная информация</h6>
                <div class="pl-lg-4">
                  <div class="row">
                            <div class="col-sm-9 mb-3 focused">
                                <div class="form-group">
                                    <label for="address">Ваш адрес</label>
                                    <input name="address" class="form-control" id="address" type="text"
                                           placeholder="Введите ваш адрес..." value="{{ profile.address|default:'' }}" readonly>
                                </div>
                            </div>
                            <div class="col-sm-3 mb-3 focused">
                                <div class="form-group">
                                    <label for="number">Номер дома</label>
                                    <input name="number" class="form-control" id="number" type="number"
                                           placeholder="No." value="{{ profile.number|default:'' }}" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-md-6 mb-3 focused">
                                <label for="city">Город</label>
                                <div class="input-group">
                                    <input id="city" class="form-control" placeholder="Город" value="{{ profile.city|default:'' }}" type="text" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3 focused">
                                <div class="form-group">
                                    <label for="phone">Номер телефона</label>
                                    <input name="phone" class="form-control" id="phone" type="number"
                                           placeholder="+12-345 678 910" value="{{ profile.phone }}" readonly>
                                </div>
                            </div>
                        </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}